h1{
    color:tomato;
    font-style: italic;
    background-color: wheat;
}
h2{
    color:blueviolet;
    background-color: thistle;
}
body{
    text-align: center;
    
}
div h1{
    display:inline-block;
}